.btn-theme {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    position: fixed;
    top: 90%;
    left: 90%;
    padding: 0;
}

.btn-theme svg {
    font-size: 1.7rem;
}

@media screen and (max-width: 767px) {
    .btn-theme {
        cursor: none;
        top: 88%;
        left: 84%;
    }
}